@font-face {
    font-family: '';
    src: url(../fonts/);
}

@font-face {
    font-family: '';
    src: url(../fonts/);
}

@font-face {
    font-family: '';
    src: url(../fonts/);
}

@font-face {
    font-family: '';
    src: url(../fonts/);
}

@font-face {
    font-family: '';
    src: url(../fonts/);
}