@import 'root.css';

body {
    background: rgb(255, 255, 255);
}

/* header start */

header {
    background: url(../images/header_bg.jpg) no-repeat center center /cover;
    background-attachment: fixed;
    height: 700px;
}




.logo_img {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
}

.header_menu-li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
}

.header_menu-li a:hover {
    color: black;
    transition: 1000ms;
}



.header_about {
    height: 500px;
}

.header_tittle {
    color: white;
}

.header_desc {
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.header_tel {
    text-decoration: none;
    list-style: none;
    color: white;
    background: rgb(0, 0, 29);
    padding: 15px;
}

.header_tel:hover {
    color: white;
    transition: 1000ms;
    text-decoration: none;
    background: rgba(0, 0, 63, 0);
}


/* header end */








/* main start */

/* main slider */



.carousel-indicators li {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: black;
}

.main_slider {
    display: flex;
    margin: 50px auto;
}

.slider_img{
    object-fit: cover;
}



/* main slider */




.main_video {
    width: 300px;
    height: 300px;
}



.main_video_card {
    text-align: center;
}

.main_tittle {
    text-align: center;
    color: rgb(3, 3, 119);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* contact page*/

.main_map_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_map {
    width: 100%;
    height: 500px;
    margin: 50px auto;
}


.main_contacts_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_contacts_desc_li {
    color: black;
}

.main_contacts_desc_li_span {
    color: blue;
}

.main_contacts_desc_li_span_a {
    text-decoration: underline;
    list-style: none;
    color: blue;
}

.main_contacts_desc_li_span_a:hover {
    text-decoration: none;
    list-style: none;
    transition: 1000ms;
    color: black;
}

.main_icon {
    width: 100px;
    height: 100px;
}

.main_social_content {
    width: 100%;
}

/* .main_social_items {
    width: 100%;
} */

.main_social_items_ul {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px;
}

.main_social_items_ul_a {
    display: block;
    padding: 15px;
}

.main_icon {
    border-radius: 10px;
}

.main_icon_1 {
    background-color: blue;
}

.main_icon_2 {
    background-color: crimson;
}

.main_icon_3 {
    background-color: darkorange;
}

.main_icon_4 {
    background-color: blue;
}

.main_icon_5 {
    background-color: blue;
}

.main_icon:hover {
    transform: scale(1.2);
    transition: 1000ms;
    opacity: 0.5;
}

/* contact page*/


/* about page */

.main_about_background {
    height: 500px;
    background: url(../posters/04.png) center center /cover;
    background-attachment: fixed;
}

.main_about_video_content {
    width: 100%;
}

.main_about_video_content_item {
    width: 100%;
}

.main_about_video_content_item_hvr {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
}

/* about page */

/*  main end */






/* footer start */

footer {
    background: black;
    padding: 50px 0;
}

.footer_contact a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.footer_contact a:hover {
    color: blue;
    transition: 1000ms;
}

.footer_menu-li a {
    text-decoration: none;
    list-style: none;
    color: white;

}

.footer_menu-li a:hover {
    color: blue;
    transition: 1000ms;
}